NEXT_PUBLIC_BASE_JSON_URL=https://surveyiz.github.io/AJTips
NEXT_PUBLIC_API_FOOTBALL_KEY=76da0232644c57385907b40beb722328
NEXT_PUBLIC_PAYSTACK_PUBLIC_KEY=pk_live_21ece91fbb5ded256dd1f4ddf4262d20505c342b
